.text-warning {
  .text-field {
    a, span {
      color: rgb(154, 107, 1) !important;
    }
  }
}

.mrp-color {
  .text-warning {
    color: #cdb832 !important
  }
  .text-info {
    color: #C4A484 !important
  }
}


