@font-face {
  font-family: Boldonse;
  src: url('../font/Boldonse-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Onest;
  src: url('../font/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Onest;
  src: url('../font/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: Onest;
  src: url('../font/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Onest;
  src: url('../font/Onest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Onest;
  src: url('../font/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}